<%= stylesheet_link_tag 'skillshow', :media => "all" %>


<br><br><br><br>
    <%= link_to "一覧に戻る", skillpresents_path %>
<div class="shows">
    <div class="skillpresents">
        
        <p><div class="title"><%= @skill.title %></div></p>
        <p><div class="body"><%= @skill.body %></div></p>
        <%= image_tag @skill.image_url, size: "250x200" if @skill.image? %>
        <br>
        <p><%= @skill.user.name %></p>
        <p><%= @skill.created_at %></p>




        <% if user_signed_in? %>
            <% if current_user.already_skillliked?(@skill) %>
                <%= link_to skillpresent_skilllike_path(@skill), method: :delete do %>
                    <i class="fas fa-heart"></i><%= @skill.skilllikes.count %>
                <% end %>
            <% else %>
            <%= link_to skillpresent_skilllikes_path(@skill), method: :post do %>
                    <i class="far fa-heart"></i><%= @skill.skilllikes.count %>
                <% end %>
            <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= @skill.skilllikes.count %>
        <% end %>
        
        </div>

    <div class="comment-corner">
        <% if user_signed_in? %>
            <%= form_with(model: [@skill, @skillcomment], local: true) do |f| %>
            <%= f.text_area :content, :size => "60x20" %>
            <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> コメントする
            <% end %>
            <% end %>
        <% end %>


        <h4>コメント一覧</h4>
        <div class="comment-wrapper">
        
        <% @skillcomments.each do |c| %>
            <div>
            <div class="comment">
            <%= c.user.name unless c.user.blank? %>
            </div>
            <br>

            
            <%= c.content %>
            <% if user_signed_in? && current_user.id == c.user_id %>

            <%= button_to "削除する",  skillpresent_skillcomment_path(c.id), method: :delete %>
            <% end %> 
            
            </div>
            <br>
            <% end %>
            <div class="box"></div>
        </div>
        

        





    </div>


</div>
<br><br><br><br>