<%= stylesheet_link_tag 'sweetsindex', :media => "all" %>

<div class="introduction">
<h2>好きなスイーツ、スイーツ巡り</h2>
疲れた時などにスイーツを食べると本当においしく、脳のエネルギー補給にもなりますよね。あなたにとっての好きなスイーツはどんなもので、食べてみたいと思うところはどのようなところにあるのでしょうか。また、あなたならではのスイーツ巡りについてでもOKです！
</div>

<div class="sweetsform">
<div class="bg">
<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>



<h4>投稿を検索</h4>
<%= form_tag({controller:"sweetspresents",action:"index"}, method: :get) do %>
<%= text_field_tag :search %>
<%= submit_tag '検索する'  %>
<% end %>





    <%=link_to("sweetspresents/new") do %>
        <button class="new" >新規投稿</button>
    <%end%>


</div>
</div>




<div class="sweetspresents-container">
<p id="sweetslike"></p>
<h3>高評価順</h3>
<div class="link"><%= link_to '新規投稿順へ', sweetspresents_path(anchor: 'sweetsnew'), class: 'sweetsnew' %></div>

<%  @rank_sweets.each do |t| %>
<div class="sweetspresent">
    <div class="main-box">
        <div class="left-container">

        <div class="title"><%= t.title %> </div>
        <br>
        
        <div class="body"><%= t.body %></div>
        <br> 
        <%= image_tag t.image_url, size: "300x250" if t.image? %>
        <br>

            <% if user_signed_in? %>
                <% if current_user.already_sweetsliked?(t) %>
                <%= link_to sweetspresent_sweetslike_path(id: t.id, sweetspresent_id: t.id), method: :delete do %>
                    <i class="fas fa-heart"></i> <%=t.sweetslikes.count %>
                <% end %>
                <% else %>
                <%= link_to sweetspresent_sweetslikes_path(id: t.id, sweetspresent_id: t.id), method: :post do %>
                    <i class="far fa-heart"></i><%= t.sweetslikes.count %>
                <% end %>
        <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= t.sweetslikes.count %>
        <% end %>
                            <div class="right-container">
                            <%= link_to "詳細へ",sweetspresent_path(t.id) %>
                            <% if user_signed_in? && current_user.id == t.user_id %>
                            <%= link_to "編集する", edit_sweetspresent_path(t.id) %>

                            <%= button_to "削除する", sweetspresent_path(t.id), method: :delete %>
                            <% end %> 
                            </div>
        </div>
    <p class="imformation">
    <%= t.user.name %>
    <br>
    <%= t.created_at %>
    </p>
    </div>
</div>
<% end %>


<br>
<p id="sweetsnew"></p>
<h3>新規投稿順</h3>
<div class="link"><%= link_to '高評価順へ', sweetspresents_path(anchor: 'sweetslike'), class: 'sweetslike' %></div>
<br>

<% @sweets.each do |t| %>
<div class="sweetspresent">
    <div class="main-box">

            <div class="left-container">
            <div class="title"><%= t.title %> </div>
            <br>
            <div class="body"><%= t.body %> </div> 
            <br>
            <%= image_tag t.image_url, size: "300x250" if t.image? %>
            
            <br>


            <% if user_signed_in? %>
            <% if current_user.already_sweetsliked?(t) %>
                <%= link_to sweetspresent_sweetslike_path(id: t.id, sweetspresent_id: t.id), method: :delete do %>
                    <i class="fas fa-heart"></i><%= t.sweetslikes.count %>
                <% end %>
            <% else %>
                <%= link_to sweetspresent_sweetslikes_path(id: t.id, sweetspresent_id: t.id), method: :post do %>
                    <i class="far fa-heart"></i><%= t.sweetslikes.count %>
                <% end %>
            <% end %>
        <% else %>
            <i class="fas fa-heart"></i><%= t.sweetslikes.count %>
        <% end %>

                    <div class="right-container">
                    <%= link_to "詳細へ",sweetspresent_path(t.id) %>
                    <% if user_signed_in? && current_user.id == t.user_id %>
                    <%= link_to "編集する", edit_sweetspresent_path(t.id) %>

                    <%= button_to "削除する", sweetspresent_path(t.id), method: :delete %>
                    <% end %> 
                    </div>
            </div>
            
    <p class="imformation">
    <%= t.user.name %>
    <br>
    <%= t.created_at %>
    </p>
    </div>
</div>
<% end %>

<%= link_to 'トップページ', introduce_index_path(anchor: 'text'), class: 'text' %>
<br>
<br>