<%= stylesheet_link_tag 'sportsshow', :media => "all" %>


<br><br><br><br>
    <%= link_to "一覧に戻る", sportspresents_path %>
<div class="shows">
    <div class="sportspresents">
        
        <p><div class="title"><%= @sport.title %></div></p>
        <p><div class="body"><%= @sport.body %></div></p>
        <%= image_tag @sport.image_url, size: "250x200" if @sport.image? %>
        <br>
        <p><%= @sport.user.name %></p>
        <p><%= @sport.created_at %></p>




        <% if user_signed_in? %>
            <% if current_user.already_sportsliked?(@sport) %>
                <%= link_to sportspresent_sportslike_path(@sport), method: :delete do %>
                    <i class="fas fa-heart"></i><%= @sport.sportslikes.count %>
                <% end %>
            <% else %>
            <%= link_to sportspresent_sportslikes_path(@sport), method: :post do %>
                    <i class="far fa-heart"></i><%= @sport.sportslikes.count %>
                <% end %>
            <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= @sport.sportslikes.count %>
        <% end %>
        
        </div>

    <div class="comment-corner">
        <% if user_signed_in? %>
            <%= form_with(model: [@sport, @sportscomment], local: true) do |f| %>
            <%= f.text_area :content, :size => "60x20" %>
            <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> コメントする
            <% end %>
            <% end %>
        <% end %>


        <h4>コメント一覧</h4>
        <div class="comment-wrapper">
        
        <% @sportscomments.each do |c| %>
            <div>
            <div class="comment">
            <%= c.user.name unless c.user.blank? %>
            </div>
            <br>

            
            <%= c.content %>
            <% if user_signed_in? && current_user.id == c.user_id %>

            <%= button_to "削除する",  sportspresent_sportscomment_path(c.id), method: :delete %>
            <% end %> 
            
            </div>
            <br>
            <% end %>
            <div class="box"></div>
        </div>
        

        





    </div>


</div>
<br><br><br><br>