<%= stylesheet_link_tag 'musicedit', :media => "all" %>


<%= link_to "トップに戻る", musicpresents_path %>


<%= form_for @Music do |f| %>
<div class="alls">

    <%= f.label :title %>
    <%= f.text_field :title, :size => 70 %> 
    <br>
    <%= f.label :body %>
    <%= f.text_area :body, :size => "150x30" %> 
    <br>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br>
    <%= f.submit "編集する" %>
    <% end %>

</div>