<%= stylesheet_link_tag 'musicshow', :media => "all" %>


<br><br><br><br>
    <%= link_to "一覧に戻る", musicpresents_path %>
<div class="shows">
    <div class="musicpresents">
        
        <p><div class="title"><%= @Music.title %></div></p>
        <p><div class="body"><%= @Music.body %></div></p>
        <%= image_tag @Music.image_url, size: "250x200" if @Music.image? %>
        <br>
        <p><%= @Music.user.name %></p>
        <p><%= @Music.created_at %></p>




        <% if user_signed_in? %>
            <% if current_user.already_liked?(@Music) %>
                <%= link_to musicpresent_like_path(@Music), method: :delete do %>
                    <i class="fas fa-heart"></i><%= @Music.likes.count %>
                <% end %>
            <% else %>
            <%= link_to musicpresent_likes_path(@Music), method: :post do %>
                    <i class="far fa-heart"></i><%= @Music.likes.count %>
                <% end %>
            <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= @Music.likes.count %>
        <% end %>
        
        </div>

    <div class="comment-corner">
        <% if user_signed_in? %>
            <%= form_with(model: [@Music, @comment], local: true) do |f| %>
            <%= f.text_area :content, :size => "60x20" %>
            <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> コメントする
            <% end %>
            <% end %>
        <% end %>


        <h4>コメント一覧</h4>
        <div class="comment-wrapper">
        
        <% @comments.each do |c| %>
            <div>
            <div class="comment">
            <%= c.user.name unless c.user.blank? %>
            </div>
            <br>

            
            <%= c.content %>
                <% if user_signed_in? && current_user.id == c.user_id %>

                <%= button_to "削除する",  musicpresent_comment_path(c.id), method: :delete %>
                <% end %> 
            
            </div>
            <br>
            <% end %>
            <div class="box"></div>
        </div>
        

        





    </div>


</div>
<br><br><br><br>