<%= stylesheet_link_tag 'relaxshow', :media => "all" %>


<br><br><br><br>
    <%= link_to "一覧に戻る", relaxpresents_path %>
<div class="shows">
    <div class="relaxpresents">
        
        <p><div class="title"><%= @relax.title %></div></p>
        <p><div class="body"><%= @relax.body %></div></p>
        <%= image_tag @relax.image_url, size: "250x200" if @relax.image? %>
        <br>
        <p><%= @relax.user.name %></p>
        <p><%= @relax.created_at %></p>




        <% if user_signed_in? %>
            <% if current_user.already_relaxliked?(@relax) %>
                <%= link_to relaxpresent_relaxlike_path(@relax), method: :delete do %>
                    <i class="fas fa-heart"></i><%= @relax.relaxlikes.count %>
                <% end %>
            <% else %>
            <%= link_to relaxpresent_relaxlikes_path(@relax), method: :post do %>
                    <i class="far fa-heart"></i><%= @relax.relaxlikes.count %>
                <% end %>
            <% end %>
        <% else %>
            <i class="far fa-heart"></i><%= @relax.relaxlikes.count %>
        <% end %>
        
        </div>

    <div class="comment-corner">
        <% if user_signed_in? %>
            <%= form_with(model: [@relax, @relaxcomment], local: true) do |f| %>
            <%= f.text_area :content, :size => "60x20" %>
            <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> コメントする
            <% end %>
            <% end %>
        <% end %>


        <h4>コメント一覧</h4>
        <div class="comment-wrapper">
        
        <% @relaxcomments.each do |c| %>
            <div>
            <div class="comment">
            <%= c.user.name unless c.user.blank? %>
            </div>
            <br>

            
            <%= c.content %>
            <% if user_signed_in? && current_user.id == c.user_id %>

            <%= button_to "削除する",  relaxpresent_relaxcomment_path(c.id), method: :delete %>
            <% end %> 
            
            </div>
            <br>
            <% end %>
            <div class="box"></div>
        </div>
        

        





    </div>



<br><br><br><br>